<!DOCTYPE html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/amqplib@0.10.8/lib/index.min.js"></script>

</head>

<body>
  <div>
    <textarea id="read" readonly style="border: 1px black solid; width: 300px; height: 500px;"></textarea>
  </div>
  <div>
    <input type="text" style="margin-top: 10px; width: 220px; height: 40px;" id="text" />
    <input type="button" id="send" value="보내기" />
  </div>
</body>

<script>

</script>